@reference "../../app/globals.css";

.link-item--active::after,
.link-item:hover::after{
    @apply left-0 -bottom-[15px] pa opacity-100 z-[2] transition-all duration-700 w-full h-[15px];
    content: "";
    background: url(../../public/t37.png) no-repeat center top;
    background-size: 100% 15px;

}


.link-item::after{
    @apply left-0 bottom-0 pa opacity-0 z-[2] transition-all duration-700 w-full h-[15px];
    content: "";
    background: url(../../public/t37.png) no-repeat center top;
    background-size: 100% 15px;
}

.chapanda-tea-nav{
    box-shadow: 0 0 15px #f3f3f3;
}
