.waves {
    width: 110%; /* 宽度设置为100%，适应容器大小 */
    height: 150px; /* 设置合适的高度 */
    position: absolute;
}

.parallax {
    position: absolute;
    z-index: 1;
}
.parallax2 {
    position: absolute;
    z-index: 0;
}

.parallax3 {
    position: absolute;
    z-index: -1;
}


.parallax > use:nth-child(1) {
    animation: scroll 12s infinite;
}

.parallax2 > use:nth-child(1) {
    animation: scroll 12s infinite;
    animation-delay: -3s;
}

.parallax3 > use:nth-child(1) {
    animation: scroll 12s infinite;
    animation-delay: -6s;
}



@keyframes scroll {
    0% {
        transform: translateX(0); /* 从左开始 */
    }
    50% {
        transform: translateX(-2px); /* 滚动整个图像的宽度，72px 是 3 个图像的宽度 */
    }
    100% {
        transform: translateX(0); /* 滚动整个图像的宽度，72px 是 3 个图像的宽度 */
    }
}
